---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: flux-operator
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.43.0@sha256:74af315b321ad83f347d4c62ff2a5176233eb96967d8b1a186ef5fa192c584a1
  url: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-operator
