---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: external-secrets
stringData:
  1password-credentials.json: op://kubernetes/1password/credentials
  token: op://kubernetes/1password/token
