---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
components:
  - ../../components/sops
resources:
  - ./namespace.yaml
  - ./booklore/ks.yaml
  - ./jellyfin/ks.yaml
