---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cloudflare-dns
spec:
  chartRef:
    kind: OCIRepository
    name: cloudflare-dns
  interval: 1h
  values:
    domainFilters: ["${SECRET_DOMAIN}"]
    env:
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: &secret cloudflare-dns-secret
            key: api-token
    extraArgs:
      - --cloudflare-dns-records-per-page=1000
      - --cloudflare-proxied
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --gateway-name=envoy-external
    fullnameOverride: *app
    interval: 5m
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
    policy: sync
    provider:
      name: cloudflare
    resources:
      limits:
        cpu: 2000m
        memory: 256Mi
      requests:
        cpu: 8m
        memory: 256Mi
    serviceMonitor:
      enabled: true
    sources: ["crd", "gateway-httproute"]
    triggerLoopOnEvent: true
    txtOwnerId: default
    txtPrefix: k8s.
