---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-operator
spec:
  chartRef:
    kind: OCIRepository
    name: grafana-operator
  interval: 1h
  values:
    dashboard:
      enabled: true
    serviceMonitor:
      enabled: true
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 20m
        memory: 128Mi
