---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kepler
  namespace: &namespace observability
spec:
  targetNamespace: *namespace
  path: ./kubernetes/apps/observability/kepler/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 30m
