#---
#apiVersion: monitoring.coreos.com/v1
#kind: Probe
#metadata:
#  name: devices
#spec:
#  module: http_3xx
#  prober:
#    url: blackbox-exporter.observability.svc.cluster.local:9115
#  targets:
#    staticConfig:
#      static:
#        - quic.${SECRET_DOMAIN}
---
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: ip4-check
spec:
  module: http4
  prober:
    url: blackbox-exporter.observability.svc.cluster.local:9115
  targets:
    staticConfig:
      static:
        - https://ipv4test.${SECRET_DOMAIN}
        - https://${SECRET_IP4}:8443
---
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: ip6-check
spec:
  module: http6
  prober:
    url: blackbox-exporter.observability.svc.cluster.local:9115
  targets:
    staticConfig:
      static:
        - https://ipv6test.${SECRET_DOMAIN}
        - https://[${SECRET_IP6}]:8443
---
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: nfs
spec:
  module: tcp_connect
  prober:
    url: blackbox-exporter.observability.svc.cluster.local:9115
  targets:
    staticConfig:
      static:
        - 172.16.69.17:2049
