#---
#apiVersion: monitoring.coreos.com/v1
#kind: Probe
#metadata:
#  name: devices
#spec:
#  module: http_3xx
#  prober:
#    url: blackbox-exporter.observability.svc.cluster.local:9115
#  targets:
#    staticConfig:
#      static:
#        - quic.arita.moe
---
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: devices
spec:
  module: http4
  prober:
    url: blackbox-exporter.observability.svc.cluster.local:9115
  targets:
    staticConfig:
      static:
        - ipv4test.arita.moe
---
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: devices
spec:
  module: http6
  prober:
    url: blackbox-exporter.observability.svc.cluster.local:9115
  targets:
    staticConfig:
      static:
        - ipv6test.arita.moe
---
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: nfs
spec:
  module: tcp_connect
  prober:
    url: blackbox-exporter.observability.svc.cluster.local:9115
  targets:
    staticConfig:
      static:
        - 172.16.69.17:2049
