---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: flux-instance
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.41.0@sha256:18eacd7f610e82e51ad20cbe827a897bcba5539c25c5633de86065b98cea49d3
  url: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-instance
