---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
spec:
  chartRef:
    kind: OCIRepository
    name: cert-manager
  interval: 1h
  values:
    cainjector:
      resources:
        limits:
          cpu: 2000m
          memory: 192Mi
        requests:
          cpu: 6m
          memory: 192Mi
    crds:
      enabled: true
    replicaCount: 1
    dns01RecursiveNameservers: https://1.1.1.1:443/dns-query,https://1.0.0.1:443/dns-query
    dns01RecursiveNameserversOnly: true
    prometheus:
      enabled: true
      servicemonitor:
        enabled: true
    resources:
      limits:
        cpu: 2000m
        memory: 96Mi
      requests:
        cpu: 6m
        memory: 96Mi
    webhook:
      resources:
        limits:
          cpu: 2000m
          memory: 64Mi
        requests:
          cpu: 4m
          memory: 64Mi
