---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
spec:
  chartRef:
    kind: OCIRepository
    name: cert-manager
  interval: 1h
  values:
    cainjector:
      resources:
        limits:
          memory: 256Mi
        requests:
          cpu: 20m
          memory: 256Mi
    crds:
      enabled: true
    replicaCount: 1
    dns01RecursiveNameservers: https://1.1.1.1:443/dns-query,https://1.0.0.1:443/dns-query
    dns01RecursiveNameserversOnly: true
    prometheus:
      enabled: true
      servicemonitor:
        enabled: true
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 20m
        memory: 128Mi
    webhook:
      resources:
        limits:
          memory: 128Mi
        requests:
          cpu: 20m
          memory: 128Mi
