---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: cloudflare-tunnel
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 5.0.0@sha256:bcc5b9d00e4bc0ae80fa3a97193f6d4a2d309b51aeb5e868a25c22275e816203
  url: oci://ghcr.io/bjw-s-labs/helm/app-template
