---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kepler
spec:
  chartRef:
    kind: OCIRepository
    name: kepler
  interval: 30m
  values:
    serviceMonitor:
      enabled: true
      defaults:
        interval: 1h
        scrapeTimeout: 10s
    tolerations:
      - operator: Exists
    resources:
      limits:
        cpu: 500m
        memory: 400Mi
      requests:
        cpu: 100m
        memory: 400Mi
