---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: flux-operator
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.40.0@sha256:32537f001213136cca3ee0553fec4360344e4d65d10d4c7c2f791a1d3af8b7d0
  url: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-operator
