---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: smartctl-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: smartctl-exporter
  interval: 1h
  values:
    fullnameOverride: smartctl-exporter
    serviceMonitor:
      enabled: true
    prometheusRules:
      enabled: false
    resources:
      limits:
        cpu: 2000m
        memory: 48Mi
      requests:
        cpu: 10m
        memory: 48Mi
