---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
spec:
  chartRef:
    kind: OCIRepository
    name: external-secrets
  interval: 30m
  values:
    certController:
      image:
        repository: ghcr.io/external-secrets/external-secrets
      resources:
        limits:
          cpu: 200m
          memory: 64Mi
        requests:
          cpu: 10m
          memory: 64Mi
      serviceMonitor:
        enabled: true
        interval: 1m
    grafanaDashboard:
      enabled: true
    image:
      repository: ghcr.io/external-secrets/external-secrets
    installCRDs: true
    resources:
      limits:
        cpu: 200m
        memory: 64Mi
      requests:
        cpu: 10m
        memory: 64Mi
    serviceMonitor:
      enabled: true
      interval: 1m
    webhook:
      image:
        repository: ghcr.io/external-secrets/external-secrets
      replicaCount: 2
      resources:
        limits:
          cpu: 200m
          memory: 64Mi
        requests:
          cpu: 10m
          memory: 64Mi
      serviceMonitor:
        enabled: true
        interval: 1m
