---
name: "Renovate"

on:
  merge_group:
  push:
    branches:
      - main
    paths:
      - .github/workflows/renovate.yaml
      - .github/renovate.json5
      - .github/renovate/**.json5
  schedule:
    - cron: "44 */2 * * *"
  workflow_dispatch:
    inputs:
      dryRun:
        description: Dry Run
        default: false
        type: boolean
        required: true
      logLevel:
        description: Log Level
        default: info
        type: choice
        options:
          - debug
          - info
          - warn
          - error
          - fatal
        required: true
      version:
        description: Renovate Version
        default: latest
        type: string
        required: true

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: app-token
        with:
          app-id: "${{ secrets.BOT_CLIENT_ID }}"
          private-key: "${{ secrets.BOT_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          token: "${{ steps.app-token.outputs.token }}"

      - name: Renovate
        uses: renovatebot/github-action@d65ef9e20512193cc070238b49c3873a361cd50c # v46.1.1
        env:
          LOG_LEVEL: "${{ inputs.logLevel || 'info' }}"
          RENOVATE_AUTODISCOVER: true
          RENOVATE_AUTODISCOVER_FILTER: "${{ github.repository }}"
          RENOVATE_DRY_RUN: "${{ inputs.dryRun }}"
          RENOVATE_GIT_AUTHOR: "${{ secrets.BOT_USERNAME }} <${{ secrets.BOT_USER_ID }}+${{ secrets.BOT_USERNAME }}[bot]@users.noreply.github.com>"
          RENOVATE_PLATFORM: github
          RENOVATE_PLATFORM_COMMIT: true
          RENOVATE_USERNAME: "${{ secrets.BOT_USERNAME }}[bot]"
        with:
          renovate-version: "${{ inputs.version || 'latest' }}"
          token: "${{ steps.app-token.outputs.token }}"
